/* Global */
:root {
    --main-color: #6edebe;
    --social-image: #6edebe;
    --text-color: white;
    --active-link: lightslategray;
    --secondary-color: rgba(0, 0, 0, 0.1);

    --page-header-color: #f8f9fa;
    /*background-color: rgb(32, 44, 66);*/
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

#top-nav-bar-container {
    display: block;
}

#side-nav-bar-container {
    display: none;
}

/*  Nav bar */
.nav-color {
    background-color: var(--main-color);
    color: var(--text-color);
    border-color: white;
}

#menuBtn:focus {
    outline: 2px auto white;
}

/*   Profile  */
.sidenav-wrapper-img {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.sidenav-wrapper-img img {
    width: 100%;
    margin-top: -20px;
}

.profile-text {
    font-size: 0.7rem;
    line-height: 20px;
}

.social-icon {
    font-size: 1.3rem;
    color: var(--social-image);
    background-color: var(--text-color);
    padding: 0.55rem;
    border-radius: 100%;
}

/*  Link for pages  */
.link-text {
    color: white;
    font-size: 0.9rem;
    line-height: 30px;
}

.nav-item > a:hover {
    color: var(--active-link);
    text-decoration: none;
}

/*    HIRE ME BUTTON    */
.hire-me {
    background-color: var(--secondary-color);
}

.pageHeader-hire-me {
    background-color: var(--social-image);
}

/*   DARK MODE   */
.toggle-btn {
    width: 60px;
    height: 29px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    border: 3px solid var(--active-link);
    padding: 2px;
    transition: all 300ms ease-in-out;
    margin: 20px auto;
}

.toggle-btn > .inner-circle {
    width: 30px;
    height: 20px;
    background-color: var(--active-link);
    border-radius: 40%;
    transition: all 300ms ease-in-out;
}

.toggle-btn.active {
    background: var(--secondary-color);
    border: 3px solid var(--active-link);

}

.toggle-btn.active > .inner-circle {
    margin-left: 20px;
    background-color: var(--main-color);
}

/*  side-nav-bar */
#side-nav-bar-container {
    height: 100vw;
    width: 250px;
    background-color: var(--main-color);
}

/*  Page headers*/
.pageHeader{
    background-color: var(--page-header-color);
}

/*  Media screen breakpoints  */
@media screen and (min-width: 769px) {
    #top-nav-bar-container {
        display: none;
    }

    #side-nav-bar-container {
        display: inline-block;
    }
}